@using DTRS.Models
@{
    sessionModel session = new sessionModel();
    if (Session["User"] == null)
    {
        <script>
            window.location = 'https://localhost:44311/';
        </script>
    }
    else
    {
        session = (sessionModel)Session["User"];
    }
}
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@session.UserRocketName</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            @switch (session.UserRole)
            {

                case "admin":
                    @Html.Partial("_menuAdmin")
                    break;
                case "Marketing Manager":
                    @Html.Partial("_menuMarketing")

                    break;
                case "Marketing Team Lead":
                    @Html.Partial("_menuMarketingTL")

                    break;
                case "Recruiter":
                    @Html.Partial("_menuRecruiter")

                    break;
                case "Sales Associate":
                    @Html.Partial("_menuSalesAssociate")

                    break;

                case "Sales Manager":
                    @Html.Partial("_menuSales")

                    break;
                case "Sales Team Lead":
                    @Html.Partial("_menuSalesTL")

                    break;
                case "Lead Generator":
                    @Html.Partial("_menuLead")
                    break;
                case "Technical Team Manager":
                    @Html.Partial("_menuTechnicalManager")
                    break;
                default:
                    break;
            }

            <li class="nav-item">
                <a href="@Url.Action("LogOut","user",new { @area  = ""})" class="nav-link btn btn-danger">
                    <i class="nav-icon glyphicon glyphicon-log-out"></i>
                    <p>
                        Sign Out
                    </p>
                </a>
            </li>
        </ul>

    </nav>
    <!-- /.sidebar-menu -->
</div>
