@model DTRS.Models.TeamDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAccountDetail.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccountDetail.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAccountDetail1.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccountDetail1.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAccountDetail2.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccountDetail2.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
