@model IEnumerable<DTRS.Models.TeamDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccountDetail.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccountDetail1.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccountDetail2.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccountDetail.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccountDetail1.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccountDetail2.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamId })
        </td>
    </tr>
}

</table>
