@model IEnumerable<DTRS.Models.TeamDetail>

@{
    ViewBag.Title = "Index";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">List of Users</h3>
        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add New</a>
                </li>
            </ul>

        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <table id="example2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAccountDetail.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAccountDetail1.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAccountDetail2.FullName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserAccountDetail.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserAccountDetail1.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserAccountDetail2.FullName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TeamId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TeamId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>