@model IEnumerable<DTRS.Models.CandidateMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">List of Job Portals</h3>

        <div class="card-tools">
            <a type="button" class="btn btn-warning" href="@Url.Action("Create")"><i class="fas fa-plus"></i> Add New Lead</a>

        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidateName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MobileNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaidAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidateStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MarketingStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VisaStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecurringType.RecurringTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAccountDetail.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalesServiceMaster.ServiceName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TechnologyMaster.TechTitle)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MobileNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketingStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VisaStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecurringType.RecurringTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserAccountDetail.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalesServiceMaster.ServiceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TechnologyMaster.TechTitle)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CandidateId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CandidateId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CandidateId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
