@model DTRS.Models.SubmissionDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubmissionDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorEmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorEmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerHourRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerHourRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FollowUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOfSubmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOfSubmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateAssign.AssignedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateAssign.AssignedId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubmissionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
